* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

h1 {
  margin: 0;
  color: #F97F85;
}

.logo1 {
    font-size: 18px;
    line-height: 56px;
    text-align: center;
}

.fullwidth {
    width: 100%;
}